{% extends "account/layout.html" %}

{% block head_title %}登录{% endblock %}

{% block account_content %}
  <h1>登录</h1>
  <p>还没有账号？<a href="{{ signup_url }}" class="c-link">注册</a></p>
  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% include "account/_form.html" %}
    <div><button type="submit" class="c-btn c-btn--primary c-btn--block">登录</button></div>
  </form>
  <p class="c-auth__foot"><a href="{% url 'account_reset_password' %}" class="c-link">忘记密码？</a></p>
{% endblock %}

{% block account_aside %}{% include "account/_why.html" %}{% endblock %}
