{% extends "me/base.html" %}

{% block me_title %}基本资料{% endblock %}
{% block me_heading %}基本资料{% endblock %}
{% block me_actions %}<a href="{% url 'submit' %}" class="c-btn c-btn--secondary">{% include "components/icon.html" with name="pen" %}我要投稿</a>{% endblock %}

{% block me_content %}
  <form method="post" action="{% url 'me_profile' %}" class="c-form max-w-xl">
    {% csrf_token %}
    {% include "account/_form.html" %}
    <div class="c-formbar"><button type="submit" class="c-btn c-btn--primary">保存</button></div>
  </form>
{% endblock %}
