{% load static %}
<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}出错了 · 上海交通大学守望先锋社区{% endblock %}</title>
    {% if error_css_inline %}
      <style>
{{ error_css_inline|safe }}
      </style>
    {% else %}
      <link rel="stylesheet" href="{% static 'css/error.css' %}">
    {% endif %}
  </head>
  <body>
    <header>
      <a href="/">交大守望先锋</a>
    </header>
    <main>
      {% block error_body %}{% endblock %}
    </main>
  </body>
</html>
